.closeButton, .closeButton2, .closeButton3{
    width: 30px;
}

.tab, .tab2,.tab3::backdrop {
    background-color: rgba(0, 0, 0, 0.658);
}

.tab, .tab2, .tab3{
    max-width: 550px;
    border: 0;
    background-color: rgb(23, 24, 29);
    color: white;
}

.video {
    width: 100%;
    height: auto;
}
.picture{
    width: 100%;
    height: auto;
}
.headerAndClose, .headerAndClose2, .headerAndClose3{
    display: flex;
    justify-content: space-between;
}

.closeButton img{
    transition: transform 0.70s ease-in-out;

   transform-origin: 50% 50%;
}
.closeButton2 img{
    transition: transform 0.70s ease-in-out;

   transform-origin: 50% 50%;
}
.closeButton3 img{
    transition: transform 0.70s ease-in-out;

   transform-origin: 50% 50%;
}

.closeButton:hover img {
    transform: rotate(180deg);
  }
  .closeButton2:hover img {
    transform: rotate(180deg);
  }
  .closeButton3:hover img {
    transform: rotate(180deg);
  }
  